{
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true,
        "jest/globals": true
    },
    "plugins": ["jest"],
    "extends": ["airbnb/base", "plugin:jest/recommended"],
    "parser": "babel-eslint",
    "rules": {
        "indent": ["warn", 4],
        "eol-last": "off",
        "max-len": "off",
        "comma-dangle": ["error", "never"],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
    }
}